/* Vídeo de fundo na seção Angra dos Reis 2024 (Biologia Marinha) */

.full-section.section-has-video-bg {
    background-image: none;
}

.section-video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.section-video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 56.25vw; /* 16:9 */
    min-height: 100vh;
    min-width: 177.77vh; /* 16:9 para cobrir em telas altas */
    transform: translate(-50%, -50%);
    pointer-events: none;
}
