.blog-author-box {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  color: #b8b7b7;

  border-radius: 10px;
  background-color: #2a2a2a;
  padding: 1.5rem;
}

.blog-author-box .author-image {
  align-items: start;
  justify-content: center;
  display: flex;
}

.blog-author-box #author-image {
  display: inline-block;
  height: 100px !important;
  min-width: 100px !important;
  border-radius: 100%;
}

.blog-author-box .author-content h4 {
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: bold;
}

.blog-author-box .author-content .designation {
  margin-bottom: 6px;
  font-weight: bold;
  color: #ff5c00 !important;
}
